.home-restaurant-item {
  display: flex;
  height: 150px;
}
.restaurant-image {
  height: 100%;
  width: 50%;
  border-radius: 5px;
}
.item-content {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
}
.item-name {
  color: #334155;
  font-weight: 700;
  font-size: 18px;
  margin-left: 2px;
}
.item-menu-type {
  color: #64748b;

  font-weight: 400;
  position: relative;
  top: -20px;
}
.set-link {
  height: 100%;
  width: 100%;
  display: flex;
  text-decoration: none;
}
.rating-con {
  display: flex;
  align-items: center;
  position: relative;
  top: -30px;
}
.item-reviews {
  color: #64748b;
  margin-left: 5px;
}

@media screen and (max-width: 576px) {
  .home-restaurant-item {
    width: 100%;
    height: 120px;
  }
  .item-name {
    font-size: 12px;
  }
  .item-menu-type {
    font-size: 12px;
  }
  .item-reviews {
    font-size: 12px;
  }
}
