.home-restaurant-item {
  display: flex;
  height: 150px;
  width: 100%;
}
.restaurant-image {
  height: 150px;
  width: 200px;
  border-radius: 5px;
}
.item-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 5px;
}
.item-name {
  color: #334155;
  font-weight: 700;
  font-size: 18px;
}
.item-menu-type {
  color: #64748b;

  font-weight: 400;
}
.set-link {
  text-decoration: none;
}
.rating-con {
  display: flex;
  align-items: center;
}
.item-reviews {
  color: #64748b;
  margin-left: 5px;
}

@media screen and (max-width: 576px) {
  .item-name {
    font-size: 13px;
  }
  .item-menu-type {
    font-size: 13px;
  }
  .item-reviews {
    font-size: 13px;
  }
  .restaurant-image {
    width: 180px;
    height: 140px;
  }
}
