.home-large-container {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-carousel-con {
  width: 100%;
  min-height: 45vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}
.search-input {
  width: 300px;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: transparent;
  font-family: DM Sans;
}

.slider-con {
  width: 90%;
  height: 90%;
}
.carousel-loader-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

span {
  font-weight: bold;
  font-size: 20px;
}
.popular-restaurants-con {
  min-height: 50vh;
  width: 90%;
  font-family: DM Sans;
  display: flex;
  flex-direction: column;
}
.second-con {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.restaurants-suffix {
  color: #64748b;
  font-size: 16px;
  font-weight: 500;
}
.restaurants-sort-by-con {
  display: flex;
  align-items: center;
}
.sort-by-icon {
  height: 30px;
  width: 30px;
  margin-right: 20px;
}
.sort-by-dropdown {
  height: 25px;
  width: 90px;
  background-color: transparent;
  font-family: DM Sans;
  border: 0;
}
.horizontal-line {
  color: #cbd2d9;
  width: 100%;
}
.restaurants-con {
  width: 100%;
  display: flex;

  justify-content: center;
  align-items: center;
  min-height: 50vh;
}
.restaurants-list-success-con {
  padding: 0;
  list-style-type: none;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 20px;
}

.home-pagination-con {
  display: flex;

  justify-content: center;
  align-items: center;
}
.pagination-button {
  background-color: transparent;
  border: 1px solid #334155;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 10px;
}
.pagination-icon {
  height: 25px;
  width: 25px;
}
.home-pages {
  color: #334155;
  font-size: 15px;
}

@media screen and (max-width: 576px) {
  .home-large-container {
    font-size: 12px;
  }
  .restaurants-suffix {
    font-size: 14px;
  }
  .second-con {
    flex-direction: column;
    align-items: flex-start;
  }
  .home-carousel-con {
    min-height: 20vh;
  }
  .sort-by-icon {
    height: 20px;
    width: 20px;
    margin-right: 10px;
  }
  .restaurants-list-success-con {
    width: 90%;
  }
}
