.cart-sm-item {
  display: flex;
  column-gap: 10px;
  font-family: DM Sans;
}
.sm-cart-img {
  height: 150px;
  width: 40%;
  border-radius: 9px;
}
.sm-content {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.sm-name {
  font-size: 16px;
  font-weight: bold;
}
.sm-btn-con {
  display: flex;
  align-items: center;
  column-gap: 10px;
  height: 25px;
}
.sm-count-btn {
  cursor: pointer;
  background-color: transparent;
  font-size: 15px;
  border-radius: 7px;
  height: 25px;
  width: 25px;
  border: 1px solid black;
}
.price-con {
  align-items: center;
}
